<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" />
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container">

    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h1>Post Add</h1>
                </div>
                <div class="panel-body">
                    <!--/*@thymesVar id="postCommand" type="brian.example.boot.web.app.command.PostCommand"*/-->
                    <form action="#" th:action="@{/post}" th:object="${postCommand}" method="post">
                        <div class="col-md-3"><span><b>Subject:</b></span></div>
                        <div class="col-md-9">
                            <input name="subject" th:field="*{subject}" class="form-control" />
                            <!-- error message for subject input above -->
                            <span class="error" th:if="${#fields.hasErrors('subject')}" th:errors="*{subject}"></span>
                        </div>
                        <div class="col-md-3"><span><b>Content:</b></span></div>
                        <div class="col-md-9">
                            <textarea name="content" th:field="*{content}" class="form-control" ></textarea>
                            <!-- error message for subject textarea above -->
                            <span class="error" th:if="${#fields.hasErrors('content')}" th:errors="*{content}"></span>
                        </div>
                        <div class="col-md-3"><span><b>Writer:</b></span></div>
                        <div class="col-md-9">
                            <input name="userId" class="form-control" th:field="*{userId}" />
                        </div>
                        <div class="col-md-6" >
                            <a class="btn btn-warning" href="/posts">Back to List</a>
                        </div>
                        <div style="text-align: right">
                            <input class="btn btn-primary" type="submit" value="Submit"/>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" th:src="@{/webjars/jquery/3.1.1/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}" ></script>
<script type="text/javascript">
    $(document).ready(function() {

        var addButton = $('.add_button'); //Add button selector
        var wrapper = $('.field_wrapper'); //Input field wrapper
        var fieldHTML = '<div><input type="text" class="form-control" name="tag" value=""/>[<a href="javascript:void(0);" ' +
            'class="remove_button">-</a>]</div>'; //New input field html

        $(addButton).click(function(){
            $(wrapper).append(fieldHTML); //Add field html
        });

        $(wrapper).on('click', '.remove_button', function(e){
            e.preventDefault();
            $(this).parent('div').remove(); //Remove field html
        });
    });
</script>
</body>
</html>