<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/3.4.1/css/bootstrap.min.css}" />
</head>
<body>
<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <div class="panel panel-primary" >
            <div class="panel-body">
                <h1>Bad Requests (400)...</h1>
                <table>
                    <tr>
                        <td>Date</td>
                        <td th:text="${timestamp}"/>
                    </tr>
                    <tr>
                        <td>Path</td>
                        <td th:text="${path}"/>
                    </tr>
                    <tr>
                        <td>Error</td>
                        <td th:text="${error}"/>
                    </tr>
                    <tr>
                        <td>Status</td>
                        <td th:text="${status}"/>
                    </tr>
                    <tr>
                        <td>Message</td>
                        <td th:text="${message}"/>
                    </tr>
                    <tr>
                        <td>Exception</td>
                        <td th:text="${exception}"/>
                    </tr>
                    <tr>
                        <td>Trace</td>
                        <td>
                            <pre th:text="${trace}"/>
                        </td>
                    </tr>
                </table>
                <div class="row">
                    <div class="col-md-6" th:if="${session.loggedInUser} != null">
                        <a class="btn btn-warning" href="/posts">Back to List</a>
                    </div>
                    <div class="col-md-6" th:if="${session.loggedInUser} == null">
                        <a class="btn btn-warning" href="/">Go to Login Screen</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" th:src="@{/webjars/jquery/3.4.1/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/webjars/bootstrap/3.4.1/js/bootstrap.min.js}" ></script>
</body>
</html>